{% extends 'app_registation/components/base.html' %}

{% block title %}
    <title>ระบบลงทะเบียนและขอโควต้ารายวิชา#หน้าแรกเว็บ</title>
{% endblock %}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
<style>
    body {background-color: #F6D1CE;}
    h1   {font-family:'Mali'; color: rgb(6, 6, 34);}
    h2   {font-family:'Mali'; color: #444547;}
    p    {font-family:'Mali'; color: #444547; font-size:large}
    .center-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div class="text-center">
    <img src="https://engr.tu.ac.th/uploads/identity/Main_Logo.png" class="img-thumbnail" width="300" height="auto" alt="tse">
    <h1>ระบบลงทะเบียนและขอโควต้ารายวิชา</h1>
    <h2>เกี่ยวกับ</h2>
    <p> </p> 
    <h2>ผู้จัดทำ :</h2>
    <p>6510615211 พรนัชชา ประทีปสังคม</p>
    <p>6510685057 ญาณัชทัฬห์ คงกระจ่าง</p>  
    <img src="https://github.com/6510685057/cn331_as2/blob/main/IMG_8860.JPG?raw=true" class="img-thumbnail" width="300" height="auto" alt="ivy">
    <img src="https://github.com/6510685057/cn331_as2/blob/main/IMG_8861.JPG?raw=true" class="img-thumbnail" width="300" height="auto" alt="kwang">
</div>
{% endblock %}
    