{% extends 'app_registation/components/base.html' %}

{% block title %}
    <title>ระบบลงทะเบียนและขอโควต้ารายวิชา</title>
{% endblock %}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
<style>
    body {background-color: #F6D1CE;}
    h1   {font-family:'Mali'; font-weight:bolder;color:  rgb(6, 6, 34);}
    h2    {font-family:'Mali'; font-weight:bold;color: red;}
    label {font-family:'Mali'; font-weight:bolder;color:  rgb(6, 6, 34);}
    input {font-family:'Mali'; font-weight:bolder;color:  rgb(6, 6, 34);}
</style>
<div class="text-center">
    <img src="https://engr.tu.ac.th/uploads/identity/Main_Logo.png" class="d-inline-block align-text-top" width="300" height="auto" alt="tse">
    <h1>ระบบลงทะเบียนและขอโควต้ารายวิชา</h1>
    <h2>!! Please Login to continue !!</h2>  
    <form action= '{% url "login" %}'  method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <button class="button button-primary" type="submit">LOG IN</button>
        </p>
    </form>
</div>
{% endblock %}
    
