{% extends 'app_registation/components/base.html' %}

{% block title %}
    <title>ระบบลงทะเบียนและขอโควต้ารายวิชา</title>
{% endblock %}

{% block content %}
<style>
  body {background-color: #F6D1CE;}
  p {color: #142bf8;}

  th {              
      text-align: center;          
  }
  td {
      text-align: center;          
  }
</style>
    <p> </p>
    <h1 class="text-center">ระบบลงทะเบียนและขอโควต้ารายวิชา</h1>
    <p class="text-center">รายวิชาทั้งหมดที่เปิดให้ลงทะเบียน</p>
    <table class="table table-bordered border-info" method='post' action='recheck'>
      {% csrf_token %}
        <thead>
          <tr >
            <th scope="col">course_id</th>
            <th scope="col">subject</th>
            <th scope="col">semester</th>
            <th scope="col">amount</th>
            <th scope="col">status</th>
            <th scope="col">ขอโควต้า</th>
          </tr>
        </thead>
        <tbody>
          {% for subject in Subject %}
            <tr>
              <th scope="">{{subject.course_id}}</th>
              <td>{{subject.course_name}}</td>
              <td>{{subject.course_semester}}</td>    
              <td>{{subject.course_amount}}</td>
              <td>{{subject.course_status}}</td>
              <form method="post" action="enroll_check">
                {% csrf_token %}
                <td><button class="button button-primary" type="submit">ขอโควต้า</button></td>
              </form>
            </tr>
          {% endfor %}
        </tbody>
    </table>
{% endblock %}